body {
	margin: 0;
	background: #1E2124;
	font-family: 'Roboto', sans-serif;
	color: #BFBFBF;
}

h1,h2,h3,h4 {
	font-family: 'Roboto', serif;
}

h2 {
	font-size: 28px;
	line-height: 0px;
	font-weight: 700;
}

div {
	background: #2E3136;
}